{% extends 'base.html.twig' %}

{% block title %}Hello FormPage!
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center justify-content-between">
		<span class="display-6">Posts</span>
		<a href="{{path('post_create')}}" class="btn btn-dark btn-sm">Create Post</a>
	</div>
	<div class="row mt-4 g-0">
		{% for post in posts %}
			<div class="col-12 col-md-4">
				<div class="card m-1 p-1">
					<div class="card-body">
						<h5 class="card-title">{{post.title}}</h5>
						<h5>
							<button class="btn btn-outline-secondary btn-sm">{{post.category.name}}</button>
						</h5>
						<a href="{{path('post_edit',{id:post.id})}}" class="btn btn-link btn-sm">Edit</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
